<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      
      <!-- 
      The following Active Roles authentication methods are supported by ARSGJit:
        1) Authenticate as the current user (the user running the ARSGJit service)
        2) Authenticate with specific AD Username/Password
      -->
      
      <!--In production enviornments the values for ActiveRoles Username and Password
      should be left empty so that authentication to Active Roles is accomplished
      with the current security contex of the service. 
      
      For testing environments, it may be useful to set these values to explicitly use
      a different user:-->
      <add key="ActiveRolesUsername" value="" />
      <add key="ActiveRolesPassword" value="" />
      
      <!-- The ARSGJitProvisioningAttribute is the name of the attribute that will
      be set to TRUE for JIT provisioning, and FALSE for deprovisioning.
      -->
      <add key="ARSGJitAccessAttribute" value="EDSVA-ARSGJitAccess" />


      <!-- DNS name or IP address of the Safeguard Appliance -->
      <add key="SafeguardAppliance" value="" />
      
      <!-- 
      The following Safeguard authentication methods are supported by ARSGJit. 
      Remove comments and set values for the authentication method you want to use.
      If multiple authentication methods are configured, they will be attempted 
      the following order:
      
        1) Safeguard Certficate Thumbprint
        2) Safeguard Certificate File 
        3) Safeguard Username/Password  
      -->

      <!-- Load Certificate with specified thumbprint from the personal User or 
      Computer personal store.  The service must be running as a user with access
      to the certificate store.-->
      <add key="SafeguardCertificateThumbprint" value="" />
      
      <!-- Full path to certificate file and password -->
      <add key="SafeguardCertificateFile" value="" />
      <add key="SafeguardCertificatePassword" value="" />
      
      <!-- Authenticate with Safeguard local username and password-->
      <add key="SafeguardUsername" value="" />
      <add key="SafeguardPassword" value="" />

    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.215" newVersion="4.2.1.215" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>